body {
	font-family: 'Lora', serif;
/* 	background-image: url('images/background.png'); */
/* 	background-image: url('images/px_by_Gre3g.png'); */
}

a {
	color: rgb(8, 88, 209);
	font-weight: bolder;
}

a:visited {
	color: rgb(214, 33, 84);
	font-weight: bolder;
}

.navigation ul {
	margin: 0;
	list-style-type: none;
	font-weight: bolder;
	font-size: 1.2em;
	text-align: center;
	background-color: rgba(85, 85, 0, .3);
}
	
	.navigation li {
		display: inline-block;
		padding: 20px;
	}
	
	.navigation a {
		color: white;
	}
	
.banner {
	height: 350px;
	background-image: url('images/banner.jpg');
	background-position: 50% 30%;
	box-shadow: 0 1px 15px 4px #ccc;
	position: relative;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

	.banner .navigation {
		letter-spacing: 2px;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	
	.banner .headline {
		background-color: rgba(200, 200, 120, .5);
	}
		
	.banner .contact {
		font-size: 10px;
		text-align: right;
		padding: 25px 20px 20px 0;
		color: white;
	}

		.banner .phone {
			font-size: 20px;
		}
	
	.banner h1 {
		font-size: 60px;
		letter-spacing: 15px;
		margin-top: 0px;
		line-height: 1.3em;
		padding: 10px 0 0 20px;
		font-weight: normal;
	}

		.banner .strap {
			padding: 0px 20px;
			font-size: 20px;
			letter-spacing: 2px;
		}
		
.footer .banner {
	height: 50px;
	background-position: 50% 60%;
	background-image: url('images/side1.jpg');
}

.footer {
	height: 200px;
}

.content {
	padding: 40px 20px 20px 20px;
	line-height: 1.9em;
	font-size: 18px;
}

	.content p {
		margin-bottom: 20px;
	}

		.content p:first-letter { 
			font-size:200%;
		}

.images {
	padding-right: 10px;
}

	.images img {
		margin: 40px 0 0 20px;
		box-shadow: 0 1px 15px 4px #ccc;
		border-radius: 10px;
	}

.testimonials {
	padding: 40px 40px 10px 10px;
}

	.testimonials ul {
		list-style-type: none;
		margin-left: 0;
	}

	.testimonials li {
		margin-bottom: 40px;
	}

	.testimonials blockquote {
		border: none;
		padding-left: 0;
		font-style: italic;
	}

		.testimonials blockquote p:before {
			content: open-quote;
		}

		.testimonials blockquote p:after {
			content: close-quote;
		}

	.testimonials small {
		text-align: right;
		font-style: normal;
		padding: 10px 20px 0 0;
	}
