body {
	font-family: 'Merriweather Sans', sans-serif;
	background-image: url('images/debut_dark.png');
}

a,
a:visited,
a:hover {
	color: rgb(221, 207, 42);
}

.dark {
	background-color: rgba(0, 0, 0, .4);
}

.banner {
	height: 350px;
	background-image: url('images/banner.jpg');
	background-position: 50% 30%;
	box-shadow: 0 1px 15px 4px #1a1a1a;
	position: relative;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

	.banner .navigation {
		letter-spacing: 2px;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	
		.navigation ul {
			margin: 0;
			list-style-type: none;
			font-weight: bolder;
			font-size: 1.2em;
			text-align: center;
			background-color: rgba(85, 85, 0, .3);
		}
	
			.navigation li {
				display: inline-block;
				padding: 20px;
			}
	
			.navigation a {
				color: white;
			}
	
	.banner .headline {
		background-color: rgba(200, 200, 120, .5);
	}
		
	.banner .contact {
		font-size: 10px;
		text-align: right;
		padding: 25px 20px 20px 0;
		color: white;
		letter-spacing: 2px;
	}

		.banner .phone {
			font-size: 20px;
		}

	.banner a,
	.banner a:visited {
		color: white;
	}
	
	.banner h1 {
		font-size: 60px;
		letter-spacing: 15px;
		margin-top: 0px;
		line-height: 1.3em;
		padding: 10px 0 0 20px;
		font-weight: normal;
	}

		.banner .strap {
			padding: 0px 20px;
			font-size: 20px;
			letter-spacing: 2px;
		}
		
.footer {
	background-position: 50% 30%;
	background-image: url('images/side2.jpg');
	box-shadow: 0 1px 15px 4px #1a1a1a;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 2px;
	font-size: 15px;
	color: white;
	line-height: 1.3em;
}

	.footer > div {
		height: 150px;
		padding: 30px 20px 30px 20px;
	}

	.footer a,
	.footer a:visited {
		color: white;
	}

	.footer .contact {
		text-align: right;
	}

	.footer .copyright {
		font-size: 10px;
	}

.body {
	color: white;
}

.content {
	margin: 40px 0 40px 0;
	padding: 0;
	line-height: 1.7em;
	font-size: 14px;
	color: white;
}

	.content p {
		margin-bottom: 20px;
	}

		.content p:first-letter { 
			font-size:140%;
			background-color: rgba(0, 0, 0, .4);
			box-shadow: 0 1px 10px 4px #1a1a1a;
		}

.images {
	padding: 0 20px 0 40px;
}

	.images img {
		margin: 40px 0 0 0;
		box-shadow: 0 1px 15px 4px #1a1a1a;
		border-radius: 10px;
	}

.testimonials {
	padding: 40px 20px 10px 10px;
}

	.testimonials ul {
		list-style-type: none;
		margin-left: 0;
	}

	.testimonials li {
		margin-bottom: 40px;
		background-color: rgba(20, 20, 20, .4);
		box-shadow: 0 1px 15px 4px #1a1a1a;
		border-radius: 10px;
		padding: 10px;
	}

	.testimonials blockquote {
		border: none;
		padding: 0;
		margin: 0;
		font-style: italic;
	}

		.testimonials blockquote p {
			font-size: 15px;
			line-height: 1.7em;
		}

		.testimonials blockquote p:before {
			content: open-quote;
		}

		.testimonials blockquote p:after {
			content: close-quote;
		}

	.testimonials small {
		text-align: right;
		font-style: normal;
		padding: 10px 0 0 0;
		line-height: 1.4em;
	}
